.logo {
  /* background-color: aqua; */
  height: 40px;
  /* margin-left: 30px; */
}
.input {
  /* background-color: aqua; */
  width: 450px !important;
  height: 30px !important;
  border-radius: 25px !important;
}

.iconsprofile {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.squer {
  border-radius: 5px;
  border: 1px solid #8e8e93;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: lightseagreen; */
  margin-left: 20px;
}

.logoseach {
  /* background-color: lightgreen; */
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-left: -55px;
}
.toggler {
  background: none !important;
  border: none !important;
}
.btn {
  width: 120px;
}

.searchform ul {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
  .logo {
    margin: 20px, 30px;
  }

  .input {
    width: 300px !important;
  }
  .searchform {
    background-color: lightgoldenrodyellow;
    display: flex !important;
    flex-direction: row !important;
  }
  .searchform ul {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
  }
}
