.leftSide {
  box-shadow: 5px 7px 21px -8px rgba(103, 96, 184, 0.98);
  background-color: white;
  border-radius: 5px;
  width: 32%;
  height: 100%;
  padding: 20px;
}
.rightSide {
  box-shadow: 5px 7px 21px -8px rgba(103, 96, 184, 0.98);
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  height: 100%;
}

.img {
  width: 70px;
  height: 70px;
  margin-top: 20px;
  border-radius: 50%;
}
.name {
  font-size: 17px;
  font-weight: 700;
}
.imageedit {
  /* background-color: lightgreen; */

  height: 15px;
  width: 15px;
  /* margin-right: 1px; */
}

.Myaccount {
  color: black;
}
/* .Myaccount:hover {
    color: rgb(11, 11, 11);
  }
  .Myaccount:myaccount {
    color: blue;
  }
  .Myaccount:active {
    color: green;
  }
  .Myaccount:visited {
    background: yellow;
  } */
.teksedit {
  cursor: pointer;
  font-size: 14px;
  margin-left: -20px !important;
}

.user {
  background-color: #456bf3;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shipping {
  margin-top: 10px;
  background-color: #f36f45;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order {
  background-color: #f3456f;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kls {
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.icon {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.profile {
  margin-top: 50px;
  background: #f2f2f6;
  box-shadow: 20px 20px 20px rgba(173, 173, 173, 0.25);
}
.forml {
  margin-left: 19px;
  /* background-color: lightseagreen; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

.formN {
  margin-left: 19px;
  /* background-color: lightseagreen; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.formN span {
  margin-left: -50px;
  /* background-color: lightseagreen; */
}

.forml,
.formN,
input {
  border-radius: 5px;
  /* border: 1px solid #9b9b9b; */
  /* background-color: lightseagreen; */
}

.cek {
  /* background-color: lightseagreen; */
  margin-right: -10px;
}

.gender {
  margin-left: 70px;
}

.genderl {
  /* background-color: lightpink; */
  margin-right: 80px;
}

.date {
  margin-right: 55px;
}

.iconprofile {
  border-left: 1px solid black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
}

.iconprofile img {
  border-radius: 50%;
}

.boder1 {
  /* background-color: aquamarine; */
  border-radius: 5px;
  border: 1px dashed black;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boder {
  /* background-color: aquamarine; */
  border-radius: 5px;
  border: 1px solid black;
  height: 150px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formN textarea {
  width: 210px;
  border-radius: 5px;
}

.iconCostomer {
  width: 700px;
  height: 120px;
}

@media only screen and (max-width: 600px) {
  .coba {
    display: flex;
  }
  .leftSide {
    margin-bottom: 20px !important;
    width: 90%;
    margin: auto;
  }

  .leftSide {
    margin-bottom: 20px !important;
    width: 90%;
    margin: auto;
  }
  .coba1 {
    /* background-color: lightsalmon; */
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
  }

  .icon {
    /* background-color: lightseagreen; */

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
  }
}
