.leftSide {
  box-shadow: 5px 7px 21px -8px rgba(103, 96, 184, 0.98);
  background-color: white;
  border-radius: 5px;
  width: 32%;
  height: 100%;
  padding: 20px;
}
.rightSide {
  box-shadow: 5px 7px 21px -8px rgba(103, 96, 184, 0.98);
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  height: 100%;
}

.img {
  width: 70px;
  height: 70px;
  margin-top: 20px;
}

.name {
  margin-top: 20px;
  margin-left: 15px;
  font-weight: 700;
}
.imageedit {
  /* background-color: lightgreen; */
  margin-left: -10px;
  height: 20px;
  width: 20px;
  /* margin-right: 1px; */
}

.teksedit {
  font-size: 14px;
  margin-right: -70px;
}

.user {
  background-color: #456bf3;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shipping {
  margin-top: 10px;
  background-color: #f36f45;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order {
  background-color: #f3456f;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kls {
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.icon {
  margin-top: 50px;
}

.profile {
  width: 100% !important;
  margin-top: 5px;
  background: #ffffff;
  box-shadow: 0px 0px 14px rgba(173, 173, 173, 0.25);
}
.forml {
  margin-left: 19px;
  /* background-color: lightseagreen; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

.formN {
  margin-left: 19px;
  /* background-color: lightseagreen; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

.formN span {
  margin-left: -50px;
  /* background-color: lightseagreen; */
}

.forml,
.formN,
input {
  border-radius: 5px;
  /* border: 1px solid #9b9b9b; */
  /* background-color: lightseagreen; */
}

.cek {
  /* background-color: lightseagreen; */
  margin-right: -10px;
}

.gender {
  margin-left: 70px;
}

.genderl {
  /* background-color: lightpink; */
  margin-right: 80px;
}

.date {
  margin-right: 55px;
}

.iconprofile {
  border-left: 1px solid black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
}
.iconCostomer {
  width: 700px;
  height: 150px;
}
.boder1 {
  /* background-color: aquamarine; */
  border-radius: 5px;
  border: 1px dashed black;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boder {
  /* background-color: aquamarine; */
  border-radius: 5px;
  border: 1px solid black;
  height: 150px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .coba {
    display: flex;
  }
  .leftSide {
    margin-bottom: 20px !important;
    width: 90%;
    margin: auto;
  }

  .leftSide {
    margin-bottom: 20px !important;
    width: 90%;
    margin: auto;
  }
  .coba1 {
    /* background-color: lightsalmon; */
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
  }

  .icon {
    /* background-color: lightseagreen; */

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
  }

  .coba {
    display: flex;
  }
  .forml {
    width: 200px;
    height: 70px;
    /* background-color: lightseagreen; */
    display: flex;
    flex-direction: column !important;

    align-items: start !important;
  }

  .formN {
    width: 200px;
    display: flex !important;
    flex-direction: column !important;
    align-items: start !important;
  }

  .genderl {
    width: 300px;
    /* background-color: rgb(82, 117, 117) !important; */
  }
  .cek {
    /* background-color: antiquewhite; */
    width: 300px;
  }

  .gender {
    margin-right: 1000px !important;
    font-size: 20px;
  }

  .iconprofile img {
    /* background-color: aquamarine; */
    width: 100px;
  }

  .iconprofile {
    display: flex;

    justify-content: center;
    align-items: center;
  }

  .cek {
    /* background-color: lightskyblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tast {
    background-color: lightseagreen mo !important;
  }

  .formN1 {
    margin-right: -50px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
