.imageGopay {
  /* background-color: bisque; */
  height: 20px;
  width: 100px !important;
}

.imagePos {
  /* background-color: bisque; */
  height: 50px;
  width: 50px !important;
}

.imageMaster {
  /* background-color: bisque; */
  height: 50px;
  width: 80px !important;
}
