.teks {
  /* background-color: aqua; */
  font-size: 1rem;
  color: #222222;
  font-weight: 700;
}

.checkbox {
  height: 20px;
  width: 20px;
  margin-top: 20px;
}
.product1 {
  background: #ffffff;
  box-shadow: 0px 0px 14px rgba(173, 173, 173, 0.25);
  /* width: 100%; */
  /* height: 50%; */
  position: relative;
}
.brend {
  margin-top: -20px;
}
.teksl {
  /* background-color: aqua; */
  font-size: 1rem;
  color: #222222;
  font-weight: 500;
}

.delete {
  /* background-color: lightpink; */
  margin-top: 7px;
  font-size: 16px;
  color: #db3022;
  font-weight: 600;
  /* margin-left: 30px; */
}

.borders_exp {
  background-color: aqua;
  /* width: 100%; */
  /* position: relative; */
}

.coba {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price1 {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 700;
  color: #222222;
}

.image {
  width: 100px !important;
  height: 100px;
  border-radius: 15px;
}

@media only screen and (max-width: 600px) {
  .teks {
    font-size: 1.3rem;
  }
  .brend {
    /* display: none; */
    font-size: 0.6rem;
  }
  .teks1 {
    /* background-color: antiquewhite; */
    margin-top: 1rem;
  }
  .price1 {
    margin-left: 200px;
    font-size: 1rem;
    font-weight: 700;
    color: #222222;
  }

  .product1 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .image {
    width: 80px !important;
    height: 80px;
    border-radius: 15px;
  }
}
