.boder1 {
  /* background-color: aquamarine; */
  border-radius: 5px;
  border: 1px dashed black;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boder {
  /* background-color: aquamarine; */
  border-radius: 5px;
  border: 1px solid black;
  height: 250px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
